//about section css
#about {
    padding: 66px 0;

    h2 {
        .section-head();
    }

    hr {
        .hr();
    }

    .about-container {
        .display-flex(center, center, column);
        width: 100%;

        @media @tablet {
            flex-direction: row;
            justify-content: space-evenly;
        }

        .about-img {
            width: 80%;
            margin-top: 10px;
    
            @media @tablet {
                width: 45%;
            }

            @media @desktop {
                width: 20%;
            }
            
            img {
                max-width: 100%;
                border-radius: 3px;
    
            }//end of image tag
        }//end of about-img class
    
        .about-text {
            width: 78%;
            margin-top: 10px;
            background-color: @secondary-color;
            border-radius: 3px;
            padding: 2%;
    
            @media @tablet {
                width: 45%;
            }//end of about-text media query
    
            p {
                font-size: 1.6rem;
                text-align: center;
    
                @media @tablet {
                    font-size: 2.5rem;
                }//end of p tag media query
            }//end of p tag
        }//end of about-text class
    }//end of about-container class
}//end of about id

.divider {
    height: 150px;
    width: 100%;
    background-image: url("../images/divider.jpg");
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    @media @tablet {
        height: 300px;
    }
}
